@model IEnumerable<ZENBEAR.Web.ViewModels.Users.AllListUsersViewModel>
<link rel="stylesheet" href="~/css/allUsersTable.css" asp-append-version="true" />


<style>
    table {
        border-collapse: collapse;
    }

        table tr td, th {
            border: 1px solid #ccc;
            padding: 5px;
        }

        table tr:hover {
            background: #f1f1f1;
        }
</style>

<div class="p-4 mb-4 bg-white text-dark col-md-14">
    <a class="btn btn-success" style="float: right;" asp-controller="Roles" asp-action="All">ROLES!</a>
    <h2>Manage Employees</h2>
    <table class="sortable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Department</th>
                <th scope="col">Position</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Edit", "Users", new { Id = item.Id }))'">
                    <td data-label="Name">@item.FirstName @item.LastName</td>
                    <td data-label="Email">@item.Email</td>
                    <td data-label="Department">@item.Department</td>
                    <td data-label="Jobtitle">@item.Jobtitle</td>
                    <td style="color:@(item.IsActive ? "red" : "green");" data-label="IsActive">@(item.IsActive ? "Block" : "Active")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
