@model ZENBEAR.Web.ViewModels.Tickets.AllInOpenTicketsViewModel
<link rel="stylesheet" href="~/css/allticketstable.css" asp-append-version="true" />
@{
    this.ViewData["Title"] = "All Open Tickets";
}
<style>
    body {
        background-image: linear-gradient(135deg, tomato, rebeccapurple);
    }
</style>


<div class="row">
    <div id="admin" class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">@this.ViewData["Title"]</span>
                <div class="actions">
                    <input type="text"><input type="submit">
                </div>
            </div>
            <table id="datatable">
                <thead>
                    <tr>
                        <th>Issue Type</th>
                        <th onclick="sortTable(0)">Key</th>
                        <th>Summary</th>
                        <th>Reporter</th>
                        <th onclick="sortTable(1)">Create On</th>
                        <th>Assignee</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model.OpenTickets)
                    {
                        <tr>
                            <td style="width: 9%">@ticket.IssueType</td>
                            <td style="width: 8%">TI-@ticket.Id</td>
                            <td style="max-width: 150px; width: 30%">@ticket.Summary</td>
                            <td style="max-width: 50px;">@ticket.Reporter</td>
                            <td style="width: 18%">@ticket.CreateOn</td>
                            <td style="width: 12%">
                                <select class="test" >
                                    @foreach (var item in Model.AssigneeList)
                                    {
                                        <option value="@item" selected="selected">@item</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/allticketstable.js" asp-append-version="true"></script>

