
@model ZENBEAR.Web.ViewModels.Tickets.AllTicketDetailsViewModel
<head>
    <script src="https://kit.fontawesome.com/a199d1b466.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/finishbutton.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<style>
    

    /* Style the tab */
    .tab {
        overflow: hidden;
    }

    /* Style the buttons inside the tab */
    .buttonLeft {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: 0.3s;
        font-size: 17px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .buttonRight {
        background-color: lightgreen;
        float: right;
        border: thick;
        outline: none;
        cursor: pointer;
        padding: 10px 50px;
        transition: 0.3s;
        font-size: 17px;
        margin-right: 20px;
        margin-top: 10px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    #element {
        display: inline-block;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 20px
    }

    #element1 {
        display: inline-block;
        margin-left: 40px;
        margin-right: 10px;
        margin-top: 30px
    }

    #element2 {
        display: normal;
        margin-left: 40px;
        margin-right: 10px;
        margin-top: 15px
    }

    #element3 {
        display: normal;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 30px;
    }


    #sides {
        margin: 0;
        overflow: hidden;
        background-color: white
    }

    #left {
        float: left;
        width: 70%;
        overflow: hidden;
    }

    #right {
        float: left;
        width: 29%;
        overflow: hidden;
        border: 1px solid #ccc;
        margin-top: 15px
    }

    td {
        padding: 15px;
        text-align: left;
        vertical-align: central;
        font-size: 15px;
        margin-top: 20px;
    }

    #details {
        display: inline-block;
        margin-left: 15px;
        margin-top: 30px;
    }

    #tr {
        margin-top: 30px;
    }

    .test {
        border: none;
        margin: 0;
        height: 60%;
        line-height: unset;
        font-size: 14px;
        width: 150px;

        margin-left: -1px;
    }

    .element5 {
        display: normal;
        margin-left: 40px;
        margin-right: 10px;
        margin-top: 15px
    }
</style>


<body>
    <div id="sides">
        <div class="tab">
            <button class="buttonLeft" onclick="history.back()">&#8592; Back</button>
            <p id="element">&#9889; @Model.Ticket.IssueType Issue</p>
            <p id="element">&#9806; TI-@Model.Ticket.Id</p>
            <button class="buttonRight"> Resolve Issue</button>
        </div>
        <hr />
        <div id="sides">
            <div id="left">
                <i class="fa-light fa-ballot-check"></i>
                <h4 id="element2"><i class="fa-solid fa-envelope-open-text"></i> @Model.Ticket.Summary</h4>
                <p id="element1">Priority</p>
                <p id="element1">&#10071;@Model.Ticket.Priority</p>
                <div id="element2">
                    <p>Attachments</p>
                    @if (Model.Ticket.Attachments != null)
                    {
                @foreach (var item in Model.Ticket.Attachments)
                {
                    var fileName = "wwwroot/attachments/tickets/" + @item.Id + "." + @item.Extension;
                    <a href="@fileName" download>Download link</a>
                }}
                </div>

                <div id="element2">
                    <i class="fa-regular fa-keyboard"></i>
                    <textarea asp-for="Ticket.Description" class="form-control" rows="7" ></textarea>
                    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                </div>
                    <p id="element2">Activity</p>
                    <p id="element1">All Comments</p><i class="fa-regular fa-comment-dots"></i>

                @foreach (var item in Model.Ticket.Comments)
                {
                    <P id="element2">item.Content</p>
                }

                    <div id='buttons'>
                        <button id="show" style="margin-left: 40px" type="button" class="btn btn-info">Press To Comment</button>
                        <button id="hide" type="button" class="btn btn-light">Hide</button>
                    </div>

                    <form id='form' action="post">
                        <textarea class="element5"  id='textarea'></textarea>
                        <input id="element2" type="submit" class="btn btn-primary" value="Send">
                    </form>

                </div>

                <div id="right">
                    <h4 id="details">Details</h4>
                    <hr />
                    <table class="table-fill">

                        <tbody class="table-hover">
                            <tr id="tr">
                                <td class="text-left">Assignee</td>
                                <td class="text-left">
                                    <select  class="test" asp-items="@Model.ListItems">
                                        <option value="" selected="selected">Unassigned</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">Reporter</td>
                                <td class="text-left">@Model.Ticket.Reporter.FullName</td>
                            </tr>
                            <tr>
                                <td class="text-left">Telephone</td>
                                <td class="text-left">No</td>
                            <tr>
                                <td class="text-left">Email</td>
                                <td class="text-left">@Model.Ticket.Reporter.Email</td>
                            </tr>
                            <tr>
                                <td class="text-left">Department</td>
                                <td class="text-left">@Model.Ticket.Reporter.Department</td>
                            </tr>
                            <tr>
                                <td class="text-left">Jobtitle</td>
                                <td class="text-left">@Model.Ticket.Reporter.Jobtitle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                <hr />
    </div>
    

</body>

<script>
    var show = document.getElementById('show');
    var hide = document.getElementById('hide');
    var form = document.getElementById('form');
    var textarea = document.getElementById('textarea');

    show.addEventListener('click', function () {
        form.style = ('display: block');
        textarea.style = ('animation: riseHeight 1s .1s normal forwards');
        hide.style = ('display: block');
        show.disabled = true;
    })

    hide.addEventListener('click', function () {
        form.style = ('display: none');
        hide.style = ('display: none');
        show.disabled = false;
    })

    </script>